/*EVERYTHING*/
* {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Poppins', sans-serif;
}

/*HEADER*/
.top {
    background-image: url("../images/footer_lodyas.png");
    background-repeat: repeat;
    min-height: 100vh;
    position: relative;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../images/footer_lodyas.png");
    background-repeat: repeat;
}

.text-green {
    color: #07C653;
}

.bg-green {
    background-color: #07C653;
}

.riley-photo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../images/background.JPG");
    height: 80vh;
    background-size: cover;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
    width: 70%;
    margin-left: auto;
}

.riley-intro {
    height: 80vh;
    padding-top: 13%;
    padding-left: 20%;
}

.nav-icon {
    color: #07C653;
}

.nav-h1 {
    font-family: 'Bungee Inline', cursive;
    color: #07C653 !important;
}

/*Animation Slider*/
.intro-a {
    background-image: url('../images/asfalt.png');
    background-repeat: repeat;
    background-size: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: #07C653;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text-a {
    color: rgb(233, 233, 233);
    font-size: 3rem;
    font-weight: bold;
}

.diff {
    color: rgb(49, 247, 0);
    font-size: 6rem;
    font-weight: bold;
}

.hide {
    overflow: hidden;
}

.hide span, .diff {
    transform: translateY(100%);
    display: inline-block;
}

.text-green {
    color: rgb(49, 247, 0);
}

.bg-green {
    background-color: #07C653;
}

/*About*/
.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../images/footer_lodyas.png");
    background-repeat: repeat;
    min-height: 100vh;
    position: relative;
}

.pic-bg-about {
    width: 400px;
    height: 500px;
    border: 10px solid #07C653;
}

.about-photo {
    background-image: url("../images/rileyhowley.jpg");
    width: 400px;
    height: 500px;
    background-size: cover;
    transform: translate(50px, -50px);
    border: 10px solid white;
}

.about-info {
    width: 50%;
}

.about-info hr {
    height: 5px;
    width: 130px;
}

/*Services*/
.services {
    min-height: 100vh;
    width: 60%;
    margin: auto;
}

.service-row {
    width: 60%;
    flex-wrap: wrap;
}

.service-container {
    height: 300px;
    width: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
}

.flip-card-front {
    background-color: #bbb;
}

.flip-card-back {
    background-color: rgb(66, 66, 66);
    transform: rotateY(180deg);
    border-radius: 25px;
}

.services .service-hr {
    background-color: #07C653;
    width: 300px;
    height: 5px;
}

.icons {
    font-size: 60px;
}

.menu-items ul li {
    padding-left: 80px;
}

/*SKILLS*/

.skills {
    width: 100%;
    height: 100vh;
}

.skills h1 {
    margin-bottom: 80px;
}

.skills-container {
    width: 80%;
    margin: auto;
}

.skill-header i {
    font-size: 6em;
}

.skills-row {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-bottom: 80px;
}

.skill-header {
    margin-bottom: 20px;
}



/*DEVICE RESPONSIVE*/

/*Mobile Responsive*/
@media(max-width: 768px) {
    .top {
        min-height: 70vh;
        position: relative;
    }

    .navbar {
        flex-wrap: nowrap;
    }

    .menu-items ul li a {
        font-size: 12px;
        color: #07C653 !important;
    }

    .menu-items ul li {
        padding-left: 0px;
    }

    .riley-intro {
        padding: 0;
        width: 100%;
    }

    .riley-photo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../images/background.JPG");
        height: 60vh;
        background-size: cover;
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 0%;
        border-top-left-radius: 0%;
        border-top-right-radius: 25%;
        width: 100%;
        margin-left: auto;
    }    

    .riley-intro {
        padding-top: 80px;
    }

    .banner .riley-intro h1 {
        font-size: 24px;
    }

    .buttons {
        justify-content: center;
        margin-top: 20px;
    }

    .buttons .works {
        margin-top: 10px;
    }

    .about {
        display: flex;
        flex-wrap: wrap;
    }

    .about-info {
        width: 80%;
    }

    .pic-bg-about {
        width: 200px;
        height: 200px;
        border: 5px solid #07C653;
    }

    .about-photo {
        width: 200px;
        height: 200px;
        background-size: cover;
        transform: translate(50px, -50px);
        border: 5px solid grey;
    }

    .about-head {
        padding-top: 50px;
    }

    .service-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .services {
        width: 100%;
        margin: auto;
    }

    .skills-section .skills-col {
        margin: auto;
    }

    .skills {
        width: 100%;
    }

    .skills-col {
        width: 80%;
    }

    .skills-row {
        display: flex;
        flex-wrap: wrap;
    }

    .skills-container {
        margin-bottom: 40px;
    }

    .skills-row {
        padding-bottom: 20px;
    }

    .experience-row {
        width: 80%;
        margin: auto;
    }

    .experience .experience-row .logo-con, .logo-con-2 {
        display: none;
    }

    .experience .experience-row .work-desc, .work-desc-2 {
        margin: auto;
        transform: none;
        margin-bottom: 20px;
        height: 100%;
        padding-bottom: 20px;
    }

    .experience .experience-row .work-desc-2 {
        transform: none;
        height: 100%;
        padding-top: 20px;
    }

    .education .row {
        width: 80%;
    }

    .portfolio .projects {
        width: 80%;
        min-height: 80vh;
    }

    .sm-view {
        display: none;
    }

    .view-all {
        padding-bottom: 40px;
    }
}

@media(max-width: 576px) {
    .smenu, .menu {
        margin-left: 48px;
    }

    .top {
        height: 100vh;
    }

    .riley-intro {
        padding-top: 140px;
    }

        .riley-intro .button-row {
            padding-top: 200px;
        }

    .wrapper {
        width: 80%;
    }

    .intro-text-a {
        color: rgb(233, 233, 233);
        font-size: 1rem;
    }

    .experience p {
        text-justify: inter-word;
        margin-left: 0px;
        margin-right: 0px;
    }

    .diff {
        color: rgb(49, 247, 0);
        font-size: 2rem;
        font-weight: bold;
    }
}

@media(min-width: 992px) {

    .navbar {
        padding-bottom: 0px;
    }

    .riley-photo {
        height: 80vh;
        width: 40%;
    }

    .riley-intro {
        padding: 0px;
        padding-left: 200px;
        padding-top: 10%;
    }

    .services h1 {
        padding-top: 5%;
    }

    .experience h1 {
        padding: 0px;
        padding-top: 5%;
    }


    .experience .experience-row .logo-con {
        width: 440px;
        height: 440px;
        background-color: white;
        background-image: url("../Images/Logos/vnet.jpg");
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 40px;
        z-index: 9;
    }

    .experience .experience-row .work-desc {
        width: 800px;
        height: 350px;
        background-color: #4B4A4A;
        transform: translate(-20px, 0px);
    }

    .experience .experience-row .logo-con-2 {
        width: 440px;
        height: 440px;
        background-color: white;
        background-image: url("../Images/Logos/ds.jpg");
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 40px;
        z-index: 9;
    }

    .check-btn {
        width: 200px;
    }

    .experience .experience-row .work-desc-2 {
        width: 800px;
        height: 350px;
        background-color: #4B4A4A;
        transform: translate(20px, 0px);
    }

    .portfolio h1 {
        padding-top: 5%;
    }
}

@media(min-width: 2000px) {
    .riley-intro {
        padding-top: 300px;
        padding-left: 300px;
    }
}
